.container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasksWrapper {
  margin-top: 20px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}